<mat-toolbar-row class="rules">
  <div class="rules__bar" *ngIf="barWidth > 0" [style.width.%]="barWidth"></div>
  <div class="rules__text">
    <pre>
    თამაში შედგება 3 ეტაპისგან: <b>მარტივი, საშუალო და რთული</b>.

    თითოეულ ეტაპზე არის 3 შეკითხვა, შესაბამისი სირთულის.

    შეკითხვას გააჩნია 4 სავარაუდო პასუხი,

    <b>რომელთაგან მხოლოდ ერთი პასუხია სწორი.</b>

    სწორი პასუხის არჩევა ხდება შემდეგნაირად:

    <b>ყველა არასწორი პასუხი ითიშება და რჩება მხოლოდ სწორი.</b>

    <b>გათიშვის შედეგს ამოწმებს სეიფის მცველი:</b>

    <i>
    სწორი შედეგის შემთხვევაში უქმდება შესაბამისი პასუხი

    არასწორი შედეგის დროს თამაში სრულდება.
    </i>

    <b>დრო არის შეზღუდული, 30 წამი.</b>

    თითოეულ პასუხის შემოწმების დროს პაუზდება.

    საპრიზო ფონდი - <b>1000 ლარი</b>

    <b>I ეტაპი - 100 ლარი</b>

    <b>II ეტაპი - 500 ლარი</b>

    <b>III ეტაპი - 1000 ლარი</b>

    თამაშის წარმატებით დახურვის შემთხვევაში თქვენ მოიგებთ

    <i>1000 ლარს.</i>


    <b>წარმატებები!</b>
  </pre>
  </div>
</mat-toolbar-row>
