<mat-toolbar-row class="main">
  <div class="main__fire">
    <div class="fire-1"></div>
    <div class="red-1"></div>
    <div class="yellow-1"></div>
    <div class="white-1"></div>
    <div class="anime"></div>
    <div class="anime-1"></div>
    <div class="anime-2"></div>
    <div class="anime-3"></div>
    <div class="anime-4"></div>
    <div class="anime-5"></div>
    <div class="anime-6"></div>
    <div class="anime-7"></div>
    <div class="anime-8"></div>
    <div class="anime-9"></div>
    <div class="anime-10"></div>
    <div class="anime-11"></div>
    <div class="anime-12"></div>
    <h2>ცეცხლთან თამაში</h2>
    <div class="fire-2"></div>
    <div class="red-2"></div>
    <div class="yellow-2"></div>
    <div class="white-2"></div>
    <div class="animee"></div>
    <div class="anime-11"></div>
    <div class="anime-22"></div>
    <div class="anime-33"></div>
    <div class="anime-44"></div>
    <div class="anime-55"></div>
    <div class="anime-66"></div>
    <div class="anime-77"></div>
    <div class="anime-88"></div>
    <div class="anime-99"></div>
    <div class="anime-100"></div>
    <div class="anime-111"></div>
    <div class="anime-122"></div>
  </div>
  <button
    mat-button
    class="main__rules"
    (click)="rule()">
    წესები
  </button>
  <button
    mat-button
    class="main__start"
    (click)="play()">
    დაწყება
  </button>
</mat-toolbar-row>
